#container1{
    width: 100%;
   box-shadow: 0 0 12px black;
   border-radius: 1.5em;
   }
   body{
       padding: 0.8em;
       background-color: rgb(255, 255, 255);
   }
   #dosa{
       padding:1em ;
       
   }
   #dosa-restaurant{
       padding:1em ;
       border-radius: 1.5em;
   }
   #container2{
       width: 100%;
      box-shadow: 0 0 12px black;
      border-radius: 1.5em;
      margin-top: 2em;
      }
   #dosa{
       padding:1em ;
       
   }
   #dosa-restaurant{
       padding:1em ;
       border-radius: 1.5em;
   }
   #container3{
       width: 100%;
      box-shadow: 0 0 12px black;
      border-radius: 1.5em;
      margin-top: 2em;
      }
   #dosa{
       padding:1em ;
       
   }
   #dosa-restaurant{
       padding:1em ;
       border-radius: 1.5em;
   }
   #container4{
       width: 100%;
      box-shadow: 0 0 12px black;
      border-radius: 1.5em;
      margin-top: 2em;
      }
   #dosa{
       padding:1em ;
       
   }
   #dosa-restaurant{
       padding:1em ;
       border-radius: 1.5em;
   }
   #container5{
       width: 100%;
      box-shadow: 0 0 12px black;
      border-radius: 1.5em;
      margin-top: 2em;
      }
   #dosa{
       padding:1em ;
       
   }
   #dosa-restaurant{
       padding:1em ;
       border-radius: 1.5em;
   }